body {
    margin-top: 30px;
    font-family: Arial;
    font-size: 14px;
}
textarea, 
.form-input-box input[type="text"], 
.form-input-box input[type="number"]{
    width: 500px;
}
.form-input-box select{
    width: 514px!important;
}
.span12{
    margin-left: -10px;
}
.ico img{
    height: 16px;
}
#output_wrapper{

} 