@import url("reset.css");
.clear{
    clear: both;
}
body{
	background-color: #f4f4f4;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	line-height: 18px;
}
th{
	text-align: center;
	background-color: #003366;
	color: white;
	text-transform: uppercase;
}
h2{
	text-align: center;
	background-color: #003366;
	height: 30px;
	line-height: 30px;
	color: white;
	text-transform: uppercase;
	margin: 10px 5px 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#page_wrapper{
	width: 960px;
	margin: 0 auto;
	background: #FFFFFF;
}
#page_header{
	background: url(../images/admin_banner.jpg) no-repeat blue;
	height: 187px;
	width: 957px;
	margin: 0 auto;
}
#page_content{
	width: 960px;
	margin-bottom: 10px;
}
#sidebar{
	width: 200px;
	float: left;
}
#content{
	width: 760px;
	float: left;
}
#page_footer{
	clear: both;
	text-align: center;
	color: white;
	background: #003366
}
#sidebar a {
	color: white;
	text-decoration: none;
}
#sidebar ul{
	width: 100%;
	margin-top: 10px;
}
#sidebar li{
	padding: 5px 10px;
	border-bottom: 1px solid white;
	background: blue;
}
#sidebar li:first-child{
	background: #000099;
}
#sidebar li:hover a{
	text-decoration: underline;
}

/**************************** CONTENT **********************************/

#addnews strong{
	width: 100px;
	padding: 0 10px;
	display: inline-block;
}
#addnews .field{
	width: 600px;
	resize:vertical;
}
#addnews div,#shownews div{
	width: 740px;
	margin: 2px auto;
	border-bottom: 1px solid #d7d7d7;
}
#shownews div{
	padding: 5px;
}
#shownews span {
	padding: 2px 10px;
}
#mainnews{
	padding: 0 5px;
	clear: both;
}
#mainnews a img{
	float: left;
	margin: 0 5px;
}
#mainnews .newsinfo{
	border-bottom: 1px solid #d7d7d7;
	padding: 10px 0;
	position: relative;
}
#mainnews .date{
	font-style: italic;
	color: #666;
	font-size: 11px;
	margin-left: 20px;
}
#mainnews .option{
	position: absolute;
	right: 0;
	bottom: 0;
}
#mainnews .option a{
	padding: 0 5px;
}
#links{
	text-align: right;
}
#links span {
	padding: 5px 10px;
}

/* CATEGORIES & SUBCATEGORIES */

#showcat .category{
	float: left;
	width: 50%;
	border-bottom: 1px solid #d7d7d7;
}
#showcat .category span {
	padding: 2px 5px;
}
#showcat span.cat{
	font-weight: bold;
	padding: 2px 20px;
	width: 240px;
	display: inline-block;
	margin-top: 5px;
}
#showcat span.subcat{
	padding: 1px 40px;
	width: 200px;
	display: inline-block;
}
#addsubcat div, #addcat div{
	margin: 2px 10px;
	border-bottom: 1px solid #d7d7d7;
}
#addsubcat strong, #addcat strong{
	width : 150px;
	display: inline-block;
}
#loginform{
	width: 400px;
	margin: 20px auto;
	padding: 0;
	border: 1px solid #d7d7d7;
	border-radius: 15px ;
}
#loginform h2{
	border-radius: 15px 15px 0 0;
	width: 100%;
	margin: 0 0 15px;

}
#loginform div{
	height: 35px;
}
#loginform *{
	vertical-align: middle;
}
#loginform input[type="submit"]{
	background: #003366;
	color: white;
	font-weight: bold;
	display: block;
	margin: auto;
}
#loginform input[type="text"],#loginform input[type="password"]{
	width: 210px;
}
#loginform label {
	width: 110px;
	padding-right: 20px;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}