div.jMyCarousel .prev{
	background: url('../images/left.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}
div.jMyCarousel .next{
	background: url('../images/right.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
}
div.jMyCarousel .up{
	background: url('../../img/up.png') center center no-repeat;
	width:61px;
	height:40px;
	border:0px;
}
div.jMyCarousel .down{
	background: url('../../img/down.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

/** carousel 1 **/
div.jMyCarousel ul li{
	border:1px solid #fff;
	line-height:0px;
	height: 150px;
}

div.jMyCarousel ul li a{ /* in case of link */
	position: relative;
	display:block;
	border:0px;

}
div.jMyCarousel ul li a img{
	display:block;
	border:0px;
}
div.jMyCarousel ul li a span{
	display:none;
	position: absolute;
	font-size: 13px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	background: black;
	color: white;
	top: 0;
	left: 0;
	text-align: center;

}
div.jMyCarousel ul li a:hover span{
	display:block;
	z-index: 1000;
}
